{% extends "base.html" %}

{% block content %}
<header>
    <div class="admin-login">
        <a href="{{ url_for('login') }}" class="btn btn-lg btn-secondary">Login</a>
    </div>
</header>
<main>
    <section class="hero">
        <div class="container">
            <h1 class="display-3 text-center">Influencer Engagement and Sponsorship Coordination Platform</h1>
            <div class="buttons">
                <a href="{{ url_for('influencer_registration') }}" class="btn btn-success btn-lg">I am an Influencer</a>
                <a href="{{ url_for('sponsor_registration') }}" class="btn btn-primary btn-lg">I am a Sponsor</a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
