{% extends "base.html" %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center mb-3 ">Influencer Registration</h2>
        <form method="POST" class="p-4 border rounded bg-light">
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group mb-3">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group mb-3">
                <label for="category">Platform</label>
                <select id="category" name="category" class="form-select">
                    <option value="" disabled selected>Choose a platform</option>

                    <option value="Instagram">Instagram</option>
                    <option value="YouTube">YouTube</option>
                    <option value="TikTok">TikTok</option>
                    <option value="Twitter">Twitter</option>
                    <option value="Facebook">Facebook</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="niche">Niche</label>
                <select id="niche" name="niche" class="form-select">
                    <option value="" disabled selected>Choose a niche</option>

                    <option value="fashion">Fashion</option>
                    <option value="beauty">Beauty</option>
                    <option value="fitness">Fitness</option>
                    <option value="food">Food</option>
                    <option value="travel">Travel</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="reach">Reach</label>
                <input type="number" class="form-control" id="reach" name="reach" required>
            </div>
            <div class="form-group mb-3">
                <label for="login">Already registered? </label>
                <a href="{{url_for('login')}}" name="login">login</a>
            </div>

            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>
{% endblock %}
